* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-nav {
  background: lightgreen;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-list {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
  /* position: relative; */
}
.nav-item {
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-family: roboto;
}
.nav-item:last-child {
  margin: 0px;
}
.button {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  font-family: roboto;
  font-size: 14px;
  margin-right: 30px;
  background-color: orange;
  padding: 10px;
  border-radius: 6px;
  /* position: absolute; */
  /* right: 46px; */
}
.nav-link:visited {
  color: blue;
}
